<div class="header-container">
    <div class="left-item">
        <div class="search-input">
            <mat-icon matTextPrefix>search</mat-icon>
            <input type="text" matInput placeholder="search">
        </div>
    </div>
    <div class="right-item">
        <mat-icon class="icon-btn">settings</mat-icon>
        <mat-icon class="icon-btn">notifications</mat-icon>
        <div class="right-item cursor-pointer">
            <mat-icon>account_circle</mat-icon>
            <span>Rahu kumar</span>
        </div>
    </div>
</div>