@import "../../../variables";

.header-container {
  background: white;
  border-bottom: 1px solid $border;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background: #f3f3f3;
    padding: 10px;
    max-width: 40%;
    min-width: 300px;
    border-radius: 10px;
    border: 1px solid $border;

    input {
      flex: 1;
      background: transparent;
      outline: none;
      border: none;
      color: black;
    }
  }
  .left-item,
  .right-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
  }
}
