<div class="project-dashboard-header-container">
    <div class="left-item">
        <div class="project-logo">
            <mat-icon>language</mat-icon>
        </div>
        <h4>Piper Enterpirise</h4>
    </div>
    <div class="right-item">
        <div class="users-list">
            <img src="assets/user-male.png" alt="user" class="user-round"/>
            <img src="assets/user-female.png" alt="user" class="user-round"/>
            <img src="assets/user-male.png" alt="user" class="user-round"/>
            <div class="user-round">+13</div>
        </div>
        <button class="btn btn-primary">
            <mat-icon>add</mat-icon> Add Member
        </button>
    </div>
</div>