<div class="project-dashboard-container">
    <app-project-dashboard-header></app-project-dashboard-header>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Overview">
            <app-project-dashboard-overview></app-project-dashboard-overview>
        </mat-tab>
        <mat-tab label="Tasks">
            <app-project-dashboard-tasks></app-project-dashboard-tasks>
        </mat-tab>
        <mat-tab label="Notes">
            <app-project-dashboard-notes></app-project-dashboard-notes>
        </mat-tab>
        <mat-tab label="Questions">Questions</mat-tab>
    </mat-tab-group>
</div>