@import '../../../variables';

.withoutDrawer{
    width: 80px;
}
.sidebar-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 0px;
    height: 100%;
    align-items: center;
    background: white;
    border-right: 1px solid $border;

    .logo-btn{
      width: 34px;
      height: 34px;
    }

    .last-menu{
      bottom: 0;
      position: absolute !important;
      width: inherit !important;
      background: white;
      border-top: 1px solid $border;
      margin: 0 !important;
    }
    .active{
      background: $hoverBackground;
      mat-icon{
        color: #365eff;
      }
    }
    .active:before {
      content: '';
      width: 3px;
      height: 100%;
      background: #365eff;
      position: absolute;
      left: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .logo-items{
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 0.5rem 0;
      padding: 0.5rem;
      cursor: pointer;
      width: 100%;
      justify-content: center;
      
      span{
        font-weight: bold;
        color: #222121;
        letter-spacing: 2px;
        margin-left: 10px;
      }
    }
    .menu-items {
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 0.5rem 0;
      padding: 0.5rem 24px;
      cursor: pointer;
      width: 100%;
      justify-content: flex-start;

      mat-icon {
        font-size: 24px;
        color: #555;
      }

      span {
        font-size: 1rem;
        color: #333;
      }

      &:hover {
        background-color: $hoverBackground;
      }
    }
  }