mat-table, mat-paginator{
     font-size: 0.9rem
}
mat-header-cell{
     color: #4f4f4f !important;
     font-weight: 500;
     font-size: 0.9rem;
     background: #fafafa !important;
     min-height: 45px !important;
}